#include "cirque_pinnacle.dtsi"

/* cirque trackpad I2C pins */
/* See: https://zmk.dev/docs/development/hardware-integration/pointing?part-type=peripheral#input-device */

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

&cirque_pinnacle_i2c {
    status = "okay";

    glidepoint: glidepoint@2a {
        compatible = "cirque,pinnacle";
        reg = <0x2a>;                                     // default slave address
        dr-gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;           // D1 pin

        sleep;

        // see: https://github.com/petejohanson/cirque-input-module/blob/main/dts/bindings/input/cirque%2Cpinnacle-common.yaml
        //rotate-90;
        //x-invert;
        //y-invert;
        //sleep;
        //no-secondary-tap;
        //no-taps;
        //sensitivity = 1x | 2x | 3x | 4x
        //x-axis-z-min = 5;
        //y-axis-z-min= 4;
    };
};

// Overrides for the input-split child node
&glidepoint_split {
    device = <&glidepoint>;
};
